body {
  background: hsl(185, 75%, 39%);
  background-image: url("images/bg-pattern-top.svg"),
    url("images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  /*background-position: right calc(47vw + 15%) bottom calc(65vh - 15vw),
    left calc(40vw + 25%) top calc(72vh - 10vw); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

.card {
  margin: auto;
  background-color: white;
  background-image: url(images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 20rem;
  height: 350px;

  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card img {
  border: 5px solid white;
  border-radius: 50%;
}

.profilePic {
  padding-top: 4rem;
}

.profile {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-block;
}

.stats {
  text-align: center;

  padding-top: 1.5rem;
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  width: 100%;
}

hr {
  width: 100%;
  border: 0.5px solid;
  border-style: solid;
  border-color: hsl(0, 0%, 87%);
}

/*TYPOGRAPHY*/

.name {
  font-size: 18px;
  font-weight: 700;
}
.profile {
  text-align: center;
  line-height: 1.5rem;
}

.profile .age {
  color: hsl(0, 0%, 59%);
}

.profile .location {
  color: hsl(0, 0%, 59%);
  font-size: 0.85rem;
}

.number {
  font-weight: 700;
}

.description {
  color: hsl(0, 0%, 59%);
  font-size: 0.7rem;
}
@media screen and (min-width: 1440px) {
}
